<html>
    <head>
        <title>
            Tweets
        </title>
        <link rel="stylesheet" href="css/tab2.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="topnav">
                <button type="button" class="btn btn-primary dropdown-toggle" onclick="home()">Home</button>
            </div>
            <h1>
                Trending Tweets about 
                <span id="topic"><%= res.topic %></span>
            </h1>
            <br>
            <% for(var i=0; i < res.tweets.length; i++) { %>
                <div id="singletweet">
                <div class="row">
                    <div class="col-lg-3" id="name">
                        <%= res.tweets[i].name %>
                    </div>
                    <div class="col-lg-2" id="screen_name">
                        @<%= res.tweets[i].screen_name %>
                    </div>
                    <div class="col-lg-1" id="time">
                        <%= res.tweets[i].time %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" id="text">
                        <%= res.tweets[i].tweet %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="images/retweet.png" height="20px" width="25px">
                            </div>
                            <div class="col-lg-8">
                                <%= res.tweets[i].retweet_count %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <form method="POST" id="form" onsubmit="deleteTweets()">
                <input id="delete" type="submit" class="btn btn-danger" value="Delete"></input>
            </form>
        </div>
    </body>

    <script>
        function deleteTweets(){
            document.getElementById("form").action = "http://127.0.0.1:3000/deletetweets/" + document.getElementById("topic").innerHTML;
        }
        function home(){
            location.href = "http://127.0.0.1:3000/home"
        }
    </script>

</html>
    